.container {
    max-width: 1200px;
    margin: 0 auto;
}

.inputs_form {
    text-align: center;
}

.form {
    text-align: center;
}

.input_field {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    width: 350px;
}

.btn {
    width: 60px;
    padding: 5px 10px;
    border-radius: 3px;
}

.btn:hover {
    cursor: pointer;
}

.btn:focus {
    outline: none;
}